<div class="chat-container">
  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Avatar" style="width:100%;">
  <p><%=message.body%></p>
  <span class="time-right"><%= time_ago_in_words(message.created_at)%></span>
</div>