<h2>People</h2>
<div id="friend-lookup">
  <%= form_tag search_users_path, remote: true, method: :get, id: 'friend-lookup-form' do%>
    <div class="from-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :search_params, params[:search_params], placeholder: 'Enter user name or email', autofocus: true, class: 'form-control search-box input-lg' %>
      </div>
      <div>
        <%= button_tag(type: :submit, class: 'btn btn-md btn-success') do%>
          <i class="fa fa-search"></i> Search
        <% end %>
      </div>
    </div>
  <% end %>
</div>