<div class="loading mt-4">
  <span>Finance Tracker</span>
</div>

<div class="container">
  <h3 class="about-sub-header">What it does?</h3>
  <ul class="list-group">
    <li class="list-group-item">Provies a platform where you can get the news about most poular stock that the community is tracking at this moment.</li>
    <li class="list-group-item">Connect with other Stock hunters and know about them</li>
    <li class="list-group-item">Track your desired Stock</li>
    <li class="list-group-item">Any user looks suspicious to you.... block him.</li>
    <li class="list-group-item">Secure payment for subscription</li>
  </ul>
  <div class="mt-5">
    <h3 class="about-sub-header">What we expect?</h3>
    <ul class="list-group">
      <li class="list-group-item">Provide us as many feedback as possible.</li>
      <li class="list-group-item">Trust us, we are ready to provide you the best offer.</li>
      <li class="list-group-item">Try our free plan and then decide</li>
    </ul>
  </div>
</div>