<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary text-left">
      <div class="modal-header">
        <h5 class="modal-title text-white font-weight-bold" id="exampleModalLongTitle"><%= "Block #{@user.full_name}?"%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><%= @user.first_name %> will no longer be able to:</h5>
        <ul>
          <li>See your posts</li>
          <li>See your stocks</li>
          <li>Add you as a friend</li>
        </ul>
        <p>If you're friends, blocking Sanjay will also unfriend him.
        If you just want to limit what you share with Sanjay Das or see less of him on Facebook, you can take a break from him instead.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= button_to("Confirm", block_user_friendships_path(@user), method: :post, class:"btn btn-primary") %>
      </div>
    </div>
  </div>
</div>