<div class="col-lg-5 d-flex justify-content-between align-items-center bg-friend">
  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-border" width="150">
  <div class= "friend-info">
    <p class= "friend-username"><%= user.username %></p>
    <p class= "friend-username"><%= user.full_name %></p>
  </div>
  <div class="btn-group small-height">
    <button type="button" class="btn btn-sm btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-check"></i> Friend
    </button>
    <div class="dropdown-menu">
      <%= link_to unfriend_user_friendships_path(user_id: user.id), method: :post, class: 'dropdown-item' do%>
        <i class="fas fa-user-times"></i>Unfriend
      <% end %>
      <%= link_to block_user_friendships_path(user_id: user.id), method: :post,class: 'dropdown-item' do%>
        <i class="fas fa-ban"></i>Block
      <% end %>
    </div>
  </div>
</div>