.bg-friend {
  height: 15vh;
}

.rounded-border {
  width: 6vw;
  height: 10vh;
  border-radius: 1rem;
}

.friend-info {
  text-align: center;
  height: 60%;
}

.small-height {
  height: 40%;
}
.friend-username {
  margin-bottom: 0;
}
.friend-email {
  margin-bottom: 0;
}